<div id="<%= dom_id user %>">

Email: <%= user.email %><br>
First Name : <%= user.first_name %><br>
Last Name : <%= user.last_name %><br>
Address 1 : <%= user.address_1 %><br>
Address 2 : <%= user.address_2 %><br>
Zip Code : <%= user.zip_code %><br>
City : <%= user.city%><br>
Phone Number : <%= user.phone_number%><br>


</div>
