<ol class="breadcrumb">
  <li class='active'>Step 1 <%= link_to " next ", validate_step_wizard_path(prev_step: 'step1', current_step: 'step1', user_wizard: @user_wizard) %></li>
  <li>Step 2<%= link_to " next ", validate_step_wizard_path(prev_step: 'step1', current_step: 'step2', user_wizard: @user_wizard)%></li>
  <li>Step 3<%= link_to " next ",validate_step_wizard_path(prev_step: 'step1', current_step: 'step3', user_wizard: @user_wizard)%></li>
  <li>Step 4</li>
</ol>

<%= simple_form_for @user_wizard, as: :user_wizard, url: validate_step_wizard_path do |f| %>
  <%= f.error_notification %>

  <%= hidden_field_tag :current_step, 'step1' %>
  <%= f.input :email %>

  <%= f.submit 'Continue' %>
<% end %>